<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    {#    <link rel = "stylesheet" href="/static/dist/css/bootstrap.min.css" >#}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <form action="/register/" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group {% if reg_obj.user.errors.0 %}has-error{% endif %} ">
                    {{ reg_obj.user.label }}
                    {{ reg_obj.user }}
                    <span class=="help-block">{{ reg_obj.user.errors.0 }}</span>   <!--如果有错误会生成一个列表，这里根据索引取第一个错误-->
                </div>
                <div class="form-group {% if reg_obj.email.errors.0 %}has-error{% endif %} ">
                    {{ reg_obj.email.label }}
                    {{ reg_obj.email }}
                    <span>{{ reg_obj.email.errors.0 }}</span>
                </div>
                <div class="form-group {% if reg_obj.phone.errors.0 %}has-error{% endif %} ">
                    {{ reg_obj.phone.label }}
                    {{ reg_obj.phone }}
                    <span>{{ reg_obj.phone.errors.0 }}</span>
                </div>
                <div class="form-group {% if reg_obj.pwd.errors.0 %}has-error{% endif %} ">
                    {{ reg_obj.pwd.label }}
                    {{ reg_obj.pwd }}
                    <span>{{ reg_obj.pwd.errors.0 }}</span>
                </div>
                <div class="form-group {% if reg_obj.rpwd.errors.0 %}has-error{% endif %} ">
                    {{ reg_obj.rpwd.label }}
                    {{ reg_obj.rpwd }}
                    <span>{{ reg_obj.rpwd.errors.0 }}</span>
                </div>
                <div class=row>
                    <div class="col-md-4 col-md-offset-5">
                        <input type="submit" class="btn btn-default" value="提交">
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>